<h1>Welcome#access</h1>
<p>Find me in app/views/welcome/access.html.erb</p>

<table class="table">
　<tbody>
　　<tr>
　　　<td>住所</td>
　　　<td>〒3860012 上田市中央4-6-18</td>
　　</tr>
　　<tr>
　　　<td>電話番号</td>
　　　<td>0268-22-1769</td>
　　</tr>
   <tr>
     <td>営業時間</td>
      <td>9時30分〜16時30分</td>
   </tr>
   <tr>
      <td>定休日</td>
      <td>毎月6・16・26日</td>
   </tr>
   <tr>
      <td>駐車場</td>
      <td>あり（3台）</td>
   </tr>
   <tr>
       <td>席数</td>
        <td>10席</td>
   </tr>
   <tr>
      <td>交通アクセス</td>
       <td>上田菅平ICをおり、上田駅を目指す。駅前通り(R141)から7つ目の信号を左折し左手に見えてくる。</td>
   </tr>
   <tr>
      <td>最寄駅</td>
       <td>上田駅</td>
   </tr>
　</tbody>
</table>

<div class="footer">
　<h1>倉田菓子店情報</h1>
</div>
