<h1>Welcome#ask</h1>
<p>Find me in app/views/welcome/ask.html.erb</p>

<div class="footer">
　<h1>倉田菓子店情報</h1>
  <div class="footer-address">
   <p1>〒386-0012 上田市中央4-6-18</p1>
   <br>
   <p2>TEL 0268-22-1769</p2>
</div>
</div>
