<h1>Welcome#company</h1>
<p>Find me in app/views/welcome/company.html.erb</p>
<br><br>

<div class="body">
   <span class="under">会社情報</span>
   <br>
   <p1>
     当店では昭和10年より手造りをモットーとし、おやきの素朴さを大切にし小麦粉、米粉、梅酒を配合し真心込めてお作り致し自信を持って販売致して居ります。
   </p>
   <p2>
     昔は一食は粉物で代用していた祖末な食生活文化から今はいつでも食べられる、栄養あるおやきが主食としても喜ばれ又、”おこびれ”（おやつ）としても腹持ちも良く、
     消化が良く、気取らない素朴さが小説家　福永武彦先生もお好きだったようです。
   </p2>
   <p3>
     おやきの他、世界でただ一軒のさんしょ団子、他七種類、水上勉さんの住んでおられます
     北御牧八重原の粘土地で収穫した餅米を使用し、木根でつくぼた餅、切り餅と（発送可）人気商品の一例をあげさせて頂きました。
   </p3>
   <p4>
     信州の美味しい自然を眺めにぜひおいでくださいませ。
   </p4>


<div class="footer">
　<h1>倉田菓子店情報</h1>
  <div class="footer-address">
   <p1>〒386-0012 上田市中央4-6-18</p1>
   <br>
   <p2>TEL 0268-22-1769</p2>
</div>
</div>
