<h1>welcome#index</h1>
<!-- 最初のスライドの写真変化 -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">

    </div>
  </div>
</div>
 <div class="pictures">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag src="/assets/title.png" ,:width => "100%"%>
      </div>
      <div class="carousel-item">
        <%= image_tag src="/assets/title.png" ,:width => "100%"%>
      </div>
      <div class="carousel-item">
        <%= image_tag src="/assets/title.png" ,:width => "100%"%>
      </div>
    </div>
  </div>
 </div>


<!-- フッター -->
<div class="footer">
　<h1>倉田菓子店情報</h1>
</div>
