<h1>welcome#index</h1>
<!-- 最初のスライドの写真変化 -->

<div class="container">
  <div class="row">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-10">
           <div class="pictures">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= image_tag src="/assets/panel.png" ,:width => "100%"%>
                </div>
                <div class="carousel-item">
                  <%= image_tag src="/assets/oyaki1.png" ,:width => "100%"%>
                </div>
                <div class="carousel-item">
                  <%= image_tag src="/assets/dango1.png" ,:width => "100%"%>
                </div>
              </div>
            </div>
          </div>
    </div>
          <div class="col-sm-1">

          </div>
 </div>
</div>

<!-- フッター -->
<div class="footer">
　<h1>倉田菓子店情報</h1>
   <div class="footer-address">
    <p1>〒386-0012 上田市中央4-6-18</p1>
    <br>
    <p2>TEL 0268-22-1769</p2>
   </div>
</div>
