
@import "bootstrap";

li{
  list-style:none;
  float:left;
}

.header-container{
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
  width:100%;
  background-color: #594f4b;

}
.header-list li{
  float: right;
  font-size: 20px;
  padding: 0px 20px;
}
.under{
  text-decoration: underline;
  font-size: 30px;
}


// footer-css
.footer{
  height:150px;
  width:100%;
  background-color:#594f4b;
}
.footer h1{
  color:white;
}
.footer-address{
  color:white;
}
