
@import "bootstrap";

li{
  list-style:none;
  float:left;
}
.navbar-header{
  float:left;
  font-size: 30px;
  color:#ffffff;
}
.header-list{
  float:left;
}
.header-list li{
  padding-left: 15px;
  padding-right: 15px;
}
.header-container{
  padding-bottom: 10px;
  background-color: black;
  color:#594f4b;
  position:fixed;
  width: 100%;
}



// footer-css
.footer{
  height:150px;
  width:100%;
  background-color:#594f4b;
}
.footer h1{
  color:white;
}
